.mint-header{
    background-color:#d81e06;
    padding: 2rem 0  2rem 0; 
  }
  .mint-header-button>a{
      display: inline-block;
      padding-left: 10px;
  }
  .mint-header-title{
      font-size: 2rem;
  }
  .shortcut a{
      margin-right: 5px;
  }
  .mint-field-core{
      width: 100%;

  }
  .mint-cell-wrapper{
    background-image: linear-gradient(180deg,#fff,#fff 50%,transparent 0);
    padding: 0;
   
    box-sizing: border-box;
    margin: 0 10px;
  }
  .mint-button.is-disabled{
      margin-top: 30px;
  }
  .mint-swipe-indicator.is-active{
      background-color:red;
      opacity:.7
  }
  .mint-tab-container{
  border-radius: 20px 20px 0 0;
    margin-top: 10px;
}


.mint-swipe, .mint-swipe-items-wrap{
    overflow:visible;
   
}
.mint-swipe-items-wrap>div.is-active{
    touch-action:none
}
.mint-navbar{
    background-color: #F2F2F2;
}